<div class="p-4">
    <h4 class="fst-italic">Archives</h4>
    <ol class="list-unstyled mb-0">
        <% @archives.each do |archive| %>
            <li><a href="#"><%= Date::MONTHNAMES[archive.month.to_i] %>,<%= archive.year %>  (<%= archive.total %>)</a></li>
        <% end %>   
    </ol>
</div>
