<footer class="blog-footer">
    <p>Tech Blog template built for by <a href="https://www.linkedin.com/in/andre-santana-68a957125/">Andre Santana</a>.</p>
    <p>
    <a href="#">Back to top</a>
    </p>
</footer>   